html
	head
		include mystyle.css
	form(method='POST',action="/adminside" enctype="multipart/form-data")
				br
				label Upload your folder
				br
				input.form-control(name='upload',type='file')
				br
				input.btn.btn-primary(type='submit',value='submit')