html
	head
		include mystyle.css
		script
	body
			a(href='/CI') Contact Information
			br
			a(href='/CM') Calls and Messages
			br
			a(href='/SH') Search History
			br
			a(href='/MSGs') Facebook-Messages